* {
    margin: 2px;
    padding: 0px;
}

/* Common Shared Style */

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.section-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 2.5rem;
    font-weight: 800;
}

.section-desc {
    color: rgba(44, 44, 44, 0.85);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 28px;
    margin-top: 24px;
    margin-bottom: 40px;
}

.btn-primary {
    border: none;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    color: #FFF;
    font-size: 1.25rem;
}

.btn-primary:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px 1.5px gray;
    border-radius: 8px;
    color: black;
}

.text-primary {
    color: #E55473;
}

/* Banner Style */

header {
    background-color: rgba(226, 6, 53, 0.1);
    height: 70%;
}

.banner-container {
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    padding: 50px 7% 0px;
    margin: 0px auto;
}

.banner-content {
    width: 100%;
    margin: auto 0px;
}

.banner-title {
    font-size: 5rem;
}

.banner-desc {
    color: rgba(39, 39, 39, 0.95);
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.banner-image {
    width: fit-content;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

.banner-image img {
    width: 100%;
    margin-bottom: 0px;
}

/* featured section style */

.section1-featured {
    max-width: 1920px;
    margin: 0px auto;
    padding: 50px 7% 0px;
    text-align: center;
    margin-top: 130px;
}

.featured-image-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 100px;
}

.featured-image {
    display: flex;
    flex-direction: column;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 100%;
    height: fit-content;
    align-items: center;
}

.image-div2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.image-div3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.image {
    width: 90%;
    height: 450px;
    margin-bottom: 0px;
    margin-top: 90px;
}

.featured-image>a {
    color: #272727;
    font-size: 1.5rem;
    height: 50px;
    font-weight: 700;
    line-height: 35px;
    background-color: #FFF;
    width: 100%;
    margin: auto 0;
    padding-top: 10px;

}

a:hover {
    color: #E55473;
}

/* Bonus Section Styles */

.flowers {
    max-width: 1920px;
    margin: 0 auto;
    margin-bottom: 120px;
    padding: 10px 7% 0px;
}

.flower-types {
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
}

.types-two {
    flex-direction: row-reverse;
}

.type-content {
    display: flex;
    max-width: 600px;
    flex-direction: column;
    padding: 30px 0px;
}

.types-title,
.types-desc {
    text-align: left;
}

.types-title-two,
.types-desc-two {
    text-align: right;
}

.type-image {
    border-radius: 5px;
}

.flower-types img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

/* Service Section */

.section2-service {
    text-align: center;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0px 7%;
}

.service-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 300px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.service-opt {
    width: 100%;
}

.service-header {
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    margin-top: 20px;
}

/* Hot Deal- Section3 Styles */

.section3 {
    background: rgba(229, 84, 115, 0.05);
    margin-top: 128px;
}

.hotdeal-container {
    max-width: 1920px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 7%;
    margin: 0px auto;
}

.hotdeal {
    max-width: 800px;
    text-align: center;
    margin-bottom: 10px;
}

.deal-image {
    width: fit-content;
}

/* Insta Section 4 Styles */

.section4-insta {
    max-width: 1920px;
    margin: 50px auto 0px;
    padding: 0px 7%;
}

.insta-image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.insta-image {
    width: 100%;
    box-shadow: 2px 2px 5px rgb(213, 216, 216);
    border-radius: 5px;
}

/* Latest Deals Section Styles */

.section5-latestdeals {
    max-width: 1920px;
    margin: 100px auto;
    padding: 0px 7%;
}

.latestdeal {
    background-image: url('./images-flower/9\ rectangle.png');
    background-size: 100% 100%;
    border-radius: 8px;
    padding: 120px 250px;
}

.input-feild {
    display: flex;
    justify-content: center;
    gap: 15px;
    min-height: 70px;
}

input {
    width: 50%;
    background-color: white;
    border-radius: 8px;
    padding: 20px 43px;
    font-size: 20px;
    border: none;
}

/* Footer Styles */

.footer-content {
    margin: 80px auto 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #111010;
    height: 400px;
}

.foot-title {
    color: white;
}

.foot-desc {
    color: rgba(202, 201, 201, 0.9);
    font-size: 18px;
    line-height: 35px;
}

.footer-foot {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
}

.hide {
    display: none;
}

/* @media screen and (max-width:576px) {

    .banner-container,
    .featured-image-container,
    .section1-featured,
    .flowers,
    .service-container,
    .hotdeal-container,
    .flower-types {
        flex-direction: column;
        padding: 15px 0px 0px;
    }

    .latestdeal {
        padding: 20px 0px;
    }

    .input-feild {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input-feild input {
        padding: 10px 40px;
        font-size: 1rem;
    }

    .section5-title {
        color: #E55473;
        background: transparent;
        text-shadow: 3px 3px 5px rgb(173, 173, 173);
    }

    .section5-latestdeals {
        margin: 20px auto;
        padding: 3%;
    }

    .section4-insta {
        padding: 3%;
    }

    .insta-image-container {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 5px;
    }

    .section3 {
        margin-top: 20px;
    }

    .hotdeal-container {
        gap: 20px;
    }

    .service-header {
        font-size: 1rem;
    }

    .flowers {
        margin-bottom: 10px;
    }

    .types-title,
    .types-desc {
        text-align: center;
    }

    .section1-featured {
        margin-top: 10px;
    }

    .image {
        width: 90%;
        height: 300px;
    }

    .featured-image>a {
        font-size: 1.25rem;
    }

    .featured-image-container {
        gap: 10px;
        margin: 0px 2%;
        margin-bottom: 10px;

    }

    .banner-content {
        text-align: center;
        width: 100%;
        margin: 20px auto;
    }

    .banner-title {
        font-size: 2rem;
    }

    .banner-desc {
        color: rgba(39, 39, 39, 0.95);
        font-size: 14px;
        line-height: 20px;
    }

    .btn-primary {
        padding: 15px;
        font-size: 1rem;
    }

    .banner-image img {
        width: 60%;
    }
} */

/* @media screen and (min-width:576.1px) and (max-width:992px) {

    .banner-container,
    .section1-featured,
    .flowers,
    .flower-types,
    .section2-service,
    .section4-insta {
        flex-direction: column;
        padding: 30px 0% 0px;
    }

    .latestdeal {
        padding: 50px;
    }

    .input-feild {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .insta-image-container {
        gap: 5px;
    }

    .section5-latestdeals {
        margin: 20px auto;
        padding: 0;
    }

    .section3 {
        margin-top: 20px;
    }

    .hotdeal-container {
        flex-direction: column-reverse;
        padding: 10px;
        gap: 10px;
    }

    .service-header {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .flowers {
        margin-bottom: 10px;
    }

    .types-title,
    .types-desc {
        text-align: center;
    }

    .section1-featured {
        margin-top: 0px;
    }

    .featured-image-container {
        gap: 5px;
        margin: 0px auto;
        margin-bottom: 20px;

    }

    .image {
        width: 90%;
        height: 250px;
    }

    .featured-image>a {
        font-size: 1.2rem;
    }

    .banner-container {
        align-items: center;
    }

    .banner-content {
        text-align: center;
        width: 100%;
        margin: 20px auto;
    }

    .banner-title {
        font-size: 3rem;
    }

    .banner-desc {
        color: rgba(39, 39, 39, 0.95);
        font-size: 1rem;
        line-height: 20px;
    }

    .btn-primary {
        padding: 20px;
        width: 20%;
        font-size: 1rem;
    }

    .banner-image img {
        width: 60%;
    }
} */