* {
    margin: 2px;
    padding: 0px;
}

/* Common Shared Style */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
    width: 100%;
}

/* Banner Style */
header {
    background-color: rgba(229, 84, 115, 0.10);
}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    margin: 0px 10%;
    border: 2px solid black;
}

.banner-content {
    max-width: 800px;
    height: 80%;
    margin: 0px;

}

.banner-title {
    font-size: 80px;
}

.banner-desc {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    color: #FFF;
    font-size: 20px;
}